
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Application Unix</h4>
                    
                  </div>
                  <div class="card-body">
        
                          <form #f="ngForm" (ngSubmit)="editAppux(f.value)"  >
                              <div class="row">                                 
                                  <div class="col-md-6">
                                      <div class="example-full-width">
                                    
                                          <input  type="hidden" name="id_appunix" ngModel [(ngModel)]="appux.id_appunix" >
                                      </div>
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Username" name="username" type="text" ngModel [(ngModel)]="appux.username">
                                        </mat-form-field>
                                      <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" name="password" type="text" ngModel [(ngModel)]="appux.password">
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Url" name="url" type="text" ngModel [(ngModel)]="appux.url">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Ip Adresse" name="adresse_ip" type="text" ngModel [(ngModel)]="appux.adresse_ip">
                                          </mat-form-field>
                                          <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Environement name" name="nomEnv" type="text" ngModel [(ngModel)]="appux.nomEnv ">
                                            </mat-form-field>
                                       
                                  </div>
                                  
                  
                              
                    </div>
                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Finish</button>
                    </form>
                  </div>
                  </div>


        </div>
        </div>
        </div>