<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Environements List<i class="material-icons" style="float:right;">perm_contact_calendar</i></h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                   <th>Id</th>
                                   <th>Name</th>
                                   <th>Environement Type</th>
                              <th>Web</th>
                              <th>Base</th>
                              <th>Unix</th>
                              <th>Application Console</th>
                              <th>Application Unix</th>
                                </thead>
                                <tbody *ngFor="let e of environements">
                                    <td>{{e.id_environement}}</td>
                                    <td>{{e.nomEnv}}</td>
                                    <td>{{e.type_environement}}</td>
                         <td *ngIf="e.web" style="text-align:center;">{{e.web.nomEnv}}  <button mat-raised-button (click) = "editWeb(e.web)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button></td>
                         <td *ngIf="e.base" style="text-align:center;">{{e.base.nomEnv}}  <button mat-raised-button (click) = "editBase(e.base)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button></td>
                         <td *ngIf="e.unix" style="text-align:center;">{{e.unix.nomEnv}}  <button mat-raised-button (click) = "editUnix(e.unix)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button></td>
                         <td *ngIf="e.appcs" style="text-align:center;">{{e.appcs.nomEnv}}  <button mat-raised-button (click) = "editAppcs(e.appcs)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button></td>
                         <td *ngIf="e.appux" style="text-align:center;">{{e.appux.nomEnv}}  <button mat-raised-button (click) = "editAppux(e.appux)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button></td>
                         <td *ngIf="!e.web"></td>
                         <td *ngIf="!e.base"></td>
                         <td *ngIf="!e.unix"></td>
                         <td *ngIf="!e.appcs"></td>
                         <td *ngIf="!e.appux"></td>
                                    <td float="right" class="td-actions text-right">
                                        <button mat-raised-button (click) = "Update(e)" type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button mat-raised-button (click) = "Delete(e.id_environement)" type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">restore_from_trash</i>
                                        </button>
                                    </td>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
