<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Settings<i class="material-icons" style="float:right;">build</i></h4>
                      <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                            <table class="table table-hover">
                                    <thead class="text-primary"></thead>
                                    <tbody>
                                        <tr>
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotoaddactivity()">
                                                        <i  class="material-icons">note_add</i>Add an activity</button></td>
                                                        <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotoaddmilestone()">
                                                                <i  class="material-icons">note_add</i>Add Milestone</button></td>
                                       
                                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotoadddelivery()">
                                                                        <i  class="material-icons">note_add</i>Add a delivery</button></td></tr>
                                            <tr><td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotoaddenvironement()">
                                                <i  class="material-icons">note_add</i>Add an environement</button></td>
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotoaddproject()">
                                                        <i  class="material-icons">note_add</i>Add a project</button></td>
   
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotoaddversion()">
                                                        <i  class="material-icons">note_add</i>Add a version</button></td>    

                                        </tr><tr>
                                                <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotoaddinfoscnx()">
                                                        <i  class="material-icons">note_add</i>Add Connection Informations</button></td> 
                                        </tr>
                                    </tbody>
                                    </table>
                                    
                        </div>
                        </div>
        </div>
        </div>
    <!--            -->
    <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header card-header-danger">
                    <h4 class="card-title mt-0"> Lists<i class="material-icons" style="float:right;">list</i></h4>
                    <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                          <table class="table table-hover">
                                  <thead class="text-primary"></thead>
                                  <tbody>
                                      <tr>
                                              <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotolistactivity()">
                                                      <i  class="material-icons">list</i>List activities</button></td>
                                                      <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotolistmilestone()">
                                                            <i  class="material-icons">list</i>List Milestones</button></td>
                                                            <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotolistdelivery()">
                                                                    <i  class="material-icons">list</i>List deliveries</button></td>
                       
                                          
                                      </tr>
                                      <tr>
                     
                                                    <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotolistenvironement()">
                                                            <i  class="material-icons">list</i>List environements</button></td>
                                                    <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotolistproject()">
                                                            <i  class="material-icons">list</i>List projects</button></td>
                                            <td><button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="gotolistversion()">
                                                    <i  class="material-icons">list</i>List versions</button></td>

                                      </tr>
                                  </tbody>
                                  </table>
                                  
                      </div>
                      </div>
      </div>
      </div>
    </div>
        </div>
        </div>