
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Version</h4>
                      
                    </div>
                    <div class="card-body">
          
                            <form #f="ngForm" (ngSubmit)="editVersion(f.value)"  >
                                <div class="row">                                 
                                    <div class="col-md-6">
                                        <div class="example-full-width">
                                      
                                            <input  type="hidden" name="id_version" ngModel [(ngModel)]="version.id_version" >
                                        </div>
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Version name" name="nomVersion" type="text" ngModel [(ngModel)]="version.nomVersion">
                                        </mat-form-field>
          
                                            <mat-form-field class="example-full-width">
                                                <mat-select placeholder="Projects" name="projects"  [(ngModel)]="version.projects" multiple>
                                                    <mat-option *ngFor="let project of version.projects" [value]="project">{{project.project_name}}</mat-option>
                                                  </mat-select>
                                              </mat-form-field>
                                     
                                    </div>
                                    
                    
                                
                      </div>
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right" >Finish</button>
                      </form>
                    </div>
                    </div>
  
  
          </div>
          </div>
          </div>