<div class="logo">
    <div class="simple-text">
        <div class="logo-img">
            <img src="../../../assets/img/hps.png"/>
        </div>
     
    </div>
</div>
<div class="sidebar-wrapper">
 
    
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons" style="color:rgb(21, 21, 107) !important;">{{menuItem.icon}}</i>
                <p style="color:rgb(21, 21, 107) !important;">{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
   
</div>
